$spaceBetweenBoxesLarge: 1em;
$spaceBetweenBoxesMedium: 0.7em;
$spaceBetweenBoxesSmall: 0.5em;

.gallery {
    column-count: 3;
    column-gap: $spaceBetweenBoxesLarge; 
    @media #{$break-medium} {
        column-gap: $spaceBetweenBoxesMedium; 
    }
    @media #{$break-small} {
        column-gap: $spaceBetweenBoxesSmall; 
    }
    &__box{
        box-shadow: 4px 0px 11px -6px rgba(0,0,0,0.56);
        text-align: left;
        break-inside: avoid-column; 
        margin-bottom: $spaceBetweenBoxesLarge;
        @media #{$break-medium} {
            margin-bottom: $spaceBetweenBoxesMedium;
        }
        @media #{$break-small} {
            margin-bottom: $spaceBetweenBoxesSmall;
        }
        &__image{
            width: 100%;
            &:hover{
                cursor: pointer;
                opacity: 0.9;
            }
        }
        &__title{
            font-size: 20px;
            padding-left: 10px;
            color: #303030;
            @media #{$break-large} {
                font-size: 16px;
            }
            @media #{$break-medium} {
                font-size: 12px;
            }
            @media #{$break-small} {
                font-size: 8px;
            }
        }
        &__date{
            font-size: 16px;
            padding-bottom: 10px;
            padding-left: 10px;
            color: #808080;
            @media #{$break-large} {
                font-size: 10px;
            }
            @media #{$break-medium} {
                font-size: 6px;
            }
            @media #{$break-small} {
                font-size: 4px;
            }
        }
    }
}