.gallery {
    column-count: 3;
    column-gap: 1em; 
    @media #{$break-medium} {
        column-gap: 0.7em; 
    }
    @media #{$break-small} {
        column-gap: 0.5em; 
    }
    .gallery__box{
        box-shadow: 4px 0px 11px -6px rgba(0,0,0,0.56);
        text-align: left;
        break-inside: avoid-column; 
        margin-bottom: 1em;
        @media #{$break-medium} {
            margin-bottom: 0.7em;
        }
        @media #{$break-small} {
            margin-bottom: 0.5em;
        }
        .gallery__box--image{
            width: 100%;
            &:hover{
                cursor: pointer;
                opacity: 0.9;
            }
        }
        .gallery__box--title{
            font-size: 20px;
            padding-left: 10px;
            color: #303030;
            @media #{$break-large} {
                font-size: 16px;
            }
            @media #{$break-medium} {
                font-size: 12px;
            }
            @media #{$break-small} {
                font-size: 8px;
            }
        }
        .gallery__box--date{
            font-size: 16px;
            padding-bottom: 10px;
            padding-left: 10px;
            color: gray;
            @media #{$break-large} {
                font-size: 10px;
            }
            @media #{$break-medium} {
                font-size: 6px;
            }
            @media #{$break-small} {
                font-size: 4px;
            }
        }
    }
}