$break-large: "all and (max-width: 1920px)";
$break-medium: "all and (max-width: 768px)";
$break-small: "all and (max-width: 520px)";
$spaceBetweenBoxesLarge: 1em;
$spaceBetweenBoxesMedium: 0.7em;
$spaceBetweenBoxesSmall: 0.5em;
$widthForModal: 100%;
$heightForModal: 100%;