* {
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
    margin: 4em;
    @media #{$break-medium} {
        margin: 2em;
    }
    @media #{$break-small} {
        margin: 1em;
    }
}